<!DOCTYPE html>
<html lang="en">
    <% for(item of lista){ %>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/styleFilme.css">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/footer.css">
        <title><%= item.nome %></title>
    </head>


    <body>

        <%- include("./partials/header.ejs") %>  <!-- Header-->

        <main>
            <div class="body_main">


                <div class="principal">
                
                    <div class="movieimg">
                        <img src="<%= item.imgBanner %>" alt="Principal" width="450" height="590" >
                    </div>

                    <div class="moviecontent">
                        <h3 class="movietitle"> <%= item.nome %></h3>
                        </br>
                        <p id="txtmiranha"><%= item.descricao %></p> 
                        </br>
                        <p>Elenco: <%= item.elenco %></p>
                        </br>
                        <p>Diretor: <%= item.diretor %></p>
                        </br>
                        <p>Gênero: <%= item.genero %></p>
                        </br>
                        <p>Duração: <%= item.duracao %></p>
                        </br>
                        <p>Classifição: <%= item.classificacao %></p>
                    </div>

                </div>

                <div class="session">
                    <h3 class="sessiontitle">Sessão</h3>

                    <div id="container">
                        <div class="square">
                            <div class="sessao">
                                <p class="psala">| 3D | Sala 3 - 15:20 </p>
                                <a href="/Brasinema/public/indexCompra.html" class="buttonBuy">
                                    <button class="buttonStyle">Comprar</button>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="container">
                        <div class="square">
                            <div class="sessao">
                                <p class="psala">| 3D | Sala 3 - 15:20 </p>
                                <a href="/Brasinema/public/indexCompra.html" class="buttonBuy">
                                    <button class="buttonStyle">Comprar</button>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="container">
                        <div class="square">
                            <div class="sessao">
                                <p class="psala">| 3D | Sala 3 - 15:20 </p>
                                <a href="/Brasinema/public/indexCompra.html" class="buttonBuy">
                                    <button class="buttonStyle">Comprar</button>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="container">
                        <div class="square">
                            <div class="sessao">
                                <p class="psala">| 3D | Sala 3 - 15:20 </p>
                                <a href="/Brasinema/public/indexCompra.html" class="buttonBuy">
                                    <button class="buttonStyle">Comprar</button>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="container">
                        <div class="square">
                            <div class="sessao">
                                <p class="psala">| 3D | Sala 3 - 15:20 </p>
                                <a href="/Brasinema/public/indexCompra.html" class="buttonBuy">
                                    <button class="buttonStyle">Comprar</button>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="container">
                        <div class="square">
                            <div class="sessao">
                                <p class="psala">| 3D | Sala 3 - 15:20 </p>
                                <a href="/Brasinema/public/indexCompra.html" class="buttonBuy">
                                    <button class="buttonStyle">Comprar</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>




            
        </main>
    <% } %>


        <%- include("./partials/footer.ejs") %> <!-- Footer-->


        <script>
            
        </script>

    </body>

</html>