<!DOCTYPE html>
<html lang="en">
    <head>
        <% for(item of listaFilme){ %>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingresso <%= item.nome %></title>

        <link rel="stylesheet" type="text/css" href="../public/css/styleCompra.css">
        <link rel="stylesheet" href="../public/css/navbar.css">
        <link rel="stylesheet" href="../public/css/footer.css">
        <script src="../public/scripts/scriptCompra.js"></script>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>  <!-- Header-->
                
        <main>
            <div class="mainContent">
                <div class="mainTitle">
                    <h2>Compra de Ingressos </h2>
                </div>

                <div class="session">
                    <div class="movieName">
                        <h3>Sessões disponíveis para: <%= item.nome %></h3>
                    </div>
        <% } %>
                    <div class="sessionList">
        <% for(item of listaSessao){ %>
                        <div class="sessionItem">
                            <p>
                                <%= item.tipoFilme %> | Sala <%= item.numeroSala %> 
                                </br> 
                                <%= item.horario %> | <%= item.data %>
                            </p>
                        </div>
        <% } %>
                    </div>
                </div>

            </div>

            <!-- Modal -->

            <div id="mainModal">
                <div class="modalContent">
                    <span class="close">&times;</span>
                    <h1>aaaaaaa</h1>
                </div>
            </div>
            


            <!--
                <form action="/add" method="POST" id="box">

                    <div class="labelStilo">
                        <label class="caixatxt" >Sessão:</label>
                        <input  type="text" placeholder="Digite a sessão" name="sessaoId" class="caixatxt" required>
                    </div>
                    </br> 

                    <div class="labelStilo">
                        <label class="caixatxt" >Nome:</label>
                        <input type="text" placeholder="Digite seu nome completo" name="nome" class="caixatxt" required>
                    </div>
                    </br> 
                    <div class="labelStilo">
                        <label class="caixatxt" >CPF:</label>
                        <input type="text" placeholder="Digite seu CPF" name="cpf" class="caixatxt" required>
                    </div>
                    </br> 
                    <div class="labelStilo">
                        <label class="caixatxt" >Email:</label>
                        <input type="text" placeholder="Digite seu email" name="email" class="caixatxt" required>
                    </div>
                    </br> 
                    <button type="submit" class="subButton">Finalizar</button>
            

                </form>
        -->




        </main>


        <%- include("./partials/footer.ejs") %> <!-- Footer-->


        
    </body>
            
</html>